<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
   
</head>
<body>
  <div id="app" v-cloak>
    <select v-model="a">
      <option value="" disabled>请选择</option>
      <option value="1">mondey</option>
      <option value="2">two</option>
      <option value="3">three</option>
    </select>{{a}}
    <input type="radio" v-model="gender" value="男">男</input>
    <input type="radio" v-model="gender" value="女">女</input>{{gender}}
  </div>
  <script src="node_modules/vue/dist/vue.js"></script>
  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        a: '',
        gender: ''
      }
    })
  </script>
</body>
</html>
